

*{
  margin: 0;
  padding: 0;
  
  
}

.nav-container {
  width: 100%;
  padding: 100px;
  height: 70px;
  background-color: var(--Grey100); 
  padding: 10px 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Source Sans Pro";
}

.navbar .logo .logo-cap {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: var(--black);
}

.navbar .logo .logo-sm {
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  color: var(--black);
  font-family: "Source Sans Pro", sans-serif;
}

.nav-inner-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link-item {
  margin-right: 24px;
}

.nav-link-item:last-child {
  margin-right: 0px;
}

.nav-dw-btn {
  position: relative;
}

.nav-dw-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-dropdown-links {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  position: absolute;
  text-align: center;
  list-style: none;
}

.nav-dropdown-links {
  width: 100%;
  display: none;
}

#nav-dropdown .dropdown-item {
  background-color: var(--NeroWhite);
}

#nav-dropdown .dropdown-item:hover {
  background-color: #cecece;
}

.nav-dw-btn:hover .nav-dropdown-links {
  display: block;
}

.nav-link-item a {
  font-size: var(--Large-400-fs);
  font-weight: var(--regular);
  text-decoration: none;
  color: black;
  padding: 12px 14px;
  white-space: nowrap;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  transition: all 0.3s linear;
}

.nav-link-item:hover a {
  background-color: #cecece;
}

.nav-login-btn .nav-login-anch {
  font-size: var(--Medium-400-fs);
  font-weight: var(--regular);
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  color: var(--NeroWhite);
  padding: 13px 46px;
  text-decoration: none;
  background: linear-gradient(
    90deg,
    #5d3e31 0%,
    #704b3b 24%,
    #855946 50%,
    #7d5c4e 100%
  );
  border-radius: 5px;
}

.nav-login-btn .nav-login-anch:hover {
  background: var(--Dark_brown);
}

@media (max-width: 1300px) {
  .nav-container {
    padding: 10px 20px;
  }

  .navbar .nav-links .nav-inner-links .nav-link-item {
    margin-right: 0px;
  }

  .navbar .nav-links .nav-inner-links .nav-link-item a {
    padding: 12px 14px;
  }
}

/* mobile navbar css start */

.mobile-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Grey100);
}

.mobile-nav-container {
  width: 100%;
  display: none;
}

.mobile-nav-inner-sec {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}

.mobile-humburger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-nav-cart-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav-logo {
  text-align: center;
}
.mobile-nav-logo .mob-nav-logo-big-size {
  color: var(--black);
  padding-bottom: 2px;
}

.mobile-nav-logo .mob-nav-logo-small-size {
  font-size: 12px;
  font-weight: var(--regular);
  color: var(--black);
}

/* mobile popup */

.mobile-sidebar {
  position: fixed;
  transition: left 0.3s ease-in-out;
  width: 310px;
  left: -310px;
  height: 90vh;
  background-color: var(--NeroWhite);
  /* display: none; */
  z-index: 99;
  padding: 20px 24px 46px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.menu-close-icon {
  display: flex;
  justify-content: flex-end;
}

.slider-links-inner-sec {
  list-style: none;
}

.slider-links-inner-sec .sidebar-link {
  width: 100%;
  font-size: 26px;
  line-height: 30px;
  font-family: "Source Serif Pro";
  font-weight: var(--bold);
  color: var(--Sec_brown);
  text-decoration: none;
  padding: 16px 12px;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

.sidebar-login-btn {
  width: 133px;
  padding-top: 26px;
}

.sidebar-login-btn .s-log-btn {
  padding: 13px 0;
}

/* close and open icon */

@media (max-width: 576px) {
  .nav-container {
    display: none;
  }
  .mobile-nav-container {
    display: block;
  }
}

.Breadcrumb-section{
  width: 1140px;
  height: 50px;
  background-color: #FDF8F7;
  
}

.Breadcrumb-link-box{
  width: 177px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.home{
  color: #656363;
}

.about{
  color: #656363;
}

/* header-section */

.header-heading-and-paragraph{
    width: 100%;
    height: 695px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.header-heading {
    width: 820px;
    height: 129px;
    /* border: 1px solid black; */
    text-align: center;
}



.header-heading p{
    color: #5d3e31;
    margin-top: 24px;
}

.change{
    color: #5d3e31;
}

.our-story-and-image-section {
    width: 1140px;
    height: 450px;
    /* border: 1px dotted black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-story-section{
    width: 610px;
    height: 450px;
    /* border: 1px dashed; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}



.background-image{
    width: 322px;
    height: 241px;
} 

.hero-imag{
    width: 322px;
    height: 241px;
}

.hero-section-image1{
  display: none;
}

.our-story-inner-section{
    width: 610px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid yellow; */
}

.our-story-inner-section h2{
    margin-bottom: 29px;
}

.our-story-inner-section p{
    width: 605px;
    height: 205px;
    
}


.our-story-icon-text-section{
    width: 610px;
    height: 77px;
    /* border: 1px dotted blue; */
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 29px;
    margin-bottom: 50px;
}

.our-story-icon-text-box1{
    width: 200px;
    height: 77px;
    /* border: 1px solid violet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.our-story-icon-text-box2{
    width: 190px;
    height: 77px;
    /* border: 1px solid violet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.our-story-icon-text-box3{
    width: 170px;
    height: 77px;
    /* border: 1px solid violet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.our-story-icon-text-box1-icon{
    width: 48px;
    height: 48px;
    
}

.our-story-icon-text-text1{
    width: 195px;
    height: 20px;
    /* border: 1px solid darkgray; */
}

.our-story-icon-text-text2{
    width: 190px;
    height: 20px;
    /* border: 1px solid darkgray; */
}

.our-story-icon-text-text3{
    width: 170px;
    height: 20px;
    /* border: 1px solid darkgray; */
}

.our-story-icon-text-text1 p{
  color: #656363;
}

.our-story-icon-text-text2 p{
  color: #656363;
}

.our-story-icon-text-text3 p{
  color: #656363;
}



/* about--section */

.container-about-section{
    width: 100%;
    height: 350px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-container-about-section{
    width: 1140px;
    height: 232px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    
 
}

.about-details{
    width: 546px;
    height: 232px;
    /* border: 1px dotted black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}

.quality-details{
    width: 546px;
    height: 232px;
    display: flex;
    flex-direction: column;
    
    /* border: 1px dotted black; */
}

.about-heading{
    width: 99px;
    height: 45px;
    
}

.about-heading h3{
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    font-family: "Source Serif 4"
}

.about p{
    width: 550px;
    height: 115px;
    /* border: 2px solid black; */
    margin-bottom: 20px;
}


.quality-heading{
  width: 312px;
  height: 45px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}

.quality-heading h3{
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  color: #352B26;
  text-align: center;
  font-family: "Source Serif 4"
  
  
  
}

.quality-para{
  width: 522px;
  height: 69px;
 
}

.quality-para p{
  font-size: 18px;
  font-weight: 400;
  line-height: 22.5px;
  padding-top: 30px;
  color: #7D5C4E;
}

/* <!-- Meet our Team --> */

.meet-our-team-section{
  width: 100%;
  height: 500px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}


.meet-our-team-inner-section{
  width: 335px;
  height: 60px;
  /* border: 1px solid black; */
}

.meet-our-team-inner-section h4{
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #352B26;
  font-family: "Source Serif pro"
}

.three-card-section{
  width: 1140px;
  height: 283px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}

.card{
  width: 336px;
  height: 283px;
  /* border: 1px dotted saddlebrown; */
  display: flex;
  justify-content: center;
}

.inner-box{
  width: 288px;
  height: 259px;
  /* border: 1px dashed darkblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.team-inner{
  width: 180px;
  height: 143px;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-image{
  width: 80px;
  height: 80px;
  /* border: 1px solid brown; */
}

.team-member-name{
  width: 63px;
  height:16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  font-family: 'Source Sans Pro';
}

.team-member-otherinformation{
  width: 180px;
  height: 23px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  font-family: 'Source Sans Pro';
}


.team-text{
  width: 300px;
  height: 100px;
  /* border: 1px solid red; */
}

.meet-our-team-section-underline{
  width: 100%;
  display: flex;
  justify-content: center;
}

.line{
  width: 500px;
  color: #808080;
}


/* Subscribe to our Email section 
  ==================================*/
  .subscribe-email-sec {
    padding: 0;
  }
  
  .subs-email-inner-sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 48px;
    height: 570px;
    padding-top: 80px;
  
    /* bg image  */
    background-image: url(./image/web\ -\ subscribe\ mail.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  
  .subscribe-email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  
  .subs-email-inp .email-input {
    color: var(--Grey400);
    padding: 15px 20px;
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--Light_Rose_Fog);
    outline: none;
    width: 388px;
    box-sizing: border-box;
  }
  
  .subs-email-inp .email-input:focus {
    border: 1px solid var(--Light_Rose_Fog);
  }
  
  .subs-email-btn .subscribe-button {
    border: none;
    outline: none;
    padding: 15px 51px;
    margin-left: -4px;
  }
  
  
  /* Pet Meal FAQ */
  .pet-meal-faq-sec {
    background-color: var(--cont-bg-sec-color);
  }
  
  .pet-meal-faq-inner-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 24px;
  }
  
  .pet-meal-faq-det {
    margin-bottom: 24px;
  }
  
  /* ------- */
  .pet-meal-faq-accordion {
    width: 83%;
  }
  
  .inner-accordion-section {
    width: 100%;
    background-color: #FDF8F7;
  }
  
  .acc-box {
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s linear;
    position: relative;
    background-color: var(--NeroWhite);
  }
  
  .accordion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .headin-op-cl-icon {
    position: relative;
  }
  
  .headin-op-cl-icon p {
    position: relative;
    padding: 17px;
  }
  
  .iconOpen {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .iconClose {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .hidden-box {
    display: none;
    padding: 0px 40px 16px 16px;
  }
  
  .hidden-box p {
    color: var(--heading-color);
  }
  
  .active .hidden-box {
    display: block;
  }

  /* Footer section 
  ===================*/
.footer-section {
  background-color: var(--Grey100);
}

.footer-section{
  padding-bottom: 0;
}

.footer-inner-sec {
  padding: 0 40px;
}

.footer-det-three-sec {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 56px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, .26);
}

.footer-links-two-section {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.footer-icon-text-two-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}

.footer-icon-text-first-sec {
  text-align: center;
}

.footer-logo-det-sec {
  text-align: center;
  gap: 100px;
}

.f-logo-sm-lg {
  margin-bottom: 67px;
}

.footer-useful-links-sec {
  padding-top: 14px;
}

.f-main-link {
  margin-bottom: 60px;
}

.f-link-item {
  display: flex;
  flex-direction: column;
}

.f-main-link-item {
  padding-bottom: 16px;
}

.policy-etc-link ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy-etc-link ul li {
  border-right: 1px solid var(--Grey800);
  padding: 0 10px;
  white-space: nowrap;
}

.policy-etc-link ul li:last-child {
  border-right: none;
}

/* mobile view paragraph */
.footer-mobile-text-para{
  display: none;
}

/* copy right sec */
.footer-copy-right-sec {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 128px 5px 35px;
}

.footer-facebook-insta-logo {
  width: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-ins-logo {
  text-decoration: none;
}

/* footer login and signup button view mobile screen */
.loging-and-signup-button {
  display: none;
  /* padding: 20px; */
}

.footer-loging-singup-inner-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 20px;
}

.mobile-newsletter-btn{
  display: none;
}

.footer-signup-btn a,
.footer-loging-btn a {
  padding: 13px 42px;
  white-space: nowrap;
}

.footer-image.section{
  width: 100%;
  height: 337px;
}


.footer-image{
  width: 100%;
  height: 337px;
  text-align: center;
  background: #F0F0F0;
  
}
